body {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem; 
    min-width: 400px;
    background-image: url("images/background.jpg");
    background-size: cover;
}

h1 {
    font-size: 1.4rem;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#scrape-locations {
    width: 70%;
    height: 100px;
    text-align: left;
    padding: 10px;
}


#business-type {
    width: 40%;
}

.input-style {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff000;
}

.input-style:hover {
    border-color: red;
}

.input-style:focus {
    border: 2px solid red;
}

select {
    padding: 8px 2px;
    text-align: left;
    width: 25%; 
}

select option {
    padding: 10px 10px;
}

select option:checked {
    background-color: orange; 
}


#runbutton {
    background-color: #fff000;
    border-style: 2px solid;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    transition: 200ms;
    width: 30%;
    box-sizing: border-box;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;
    justify-content: space-evenly;
}

#runbutton:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

#runbutton:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

#progress {
    width: 100%;
    background-color: gray;
}

#progress-bar {
    width: 10%;
    height: 20px;
    background-color: green;
}

#attributions {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem; 
}
