body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem; 
    color: #F8F8F2;
    min-width: 400px;
    background-image: url("images/map_lights_dracula.jpg");
    background-position: center;
}

h1 {
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px;
}

header div h1 {
    padding-top: 5%;
}


main {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px 10px;
}

#scrape-locations {
    width: 70%;
    height: 100px;
    padding: 10px;
}

#business-type {
    width: 40%;
    height: 20px;
    padding: 0 10px;
}

::placeholder {
    color: #F8F8F2;
    font-family: "Roboto", sans-serif;
}

.input-style {
    border: 1px solid #ccc;
    color: #F8F8F2;
    border-radius: 4px;
    background-color: #6272A4;
}

.input-style:hover {
    border: 1px solid red;
}

.input-style:focus {
    border: 3px solid red;
}

select {
    padding: 8px 2px;
    text-align: left;
    width: 25%; 
}

select option {
    padding: 10px 10px;
}

select option:checked {
    background-color: #44475A; 
}

a:link {
    color: #FF79C6;
}

a:visited {
    color: #FF79C6;
}

#runbutton {
    background-color: #F1FA8C;
    border-style: 2px solid #ccc;
    border-radius: 12px;
    /* color: #000; */
    cursor: pointer;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    transition: 200ms;
    width: 30%;
    box-sizing: border-box;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;
    justify-content: space-evenly;
}

#runbutton:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    background: #8BE9FD;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

#runbutton:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

#bottom {
    width: 100%;
    padding: 0 10%;
}

#progress-section {
    width: 80%;
    height: 35px;
    padding: 5px 5px;
    border-radius: 20px;
    background-color: #44475A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leads-num {
    color: #FF5555;
}

#attributions {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem; 
}

